{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="page-add">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="page-breadcrumb">
                    <h2>Change Password</h2>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="contact-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <form action="" method="POST" class="contact-form">
                    {% csrf_token %}
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-{{ message.tags }}">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                    
                    {% for field in form %}
                        <div class="form-group">
                            {{ field }}
                            {% if field.errors %}
                                <small class="text-danger">{{ field.errors|striptags }}</small>
                            {% endif %}
                        </div>
                    {% endfor %}
                    
                    <button type="submit" class="site-btn">Change Password</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}